<footer id="fh5co-footer" role="contentinfo">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-4 fh5co-widget">
                <h3>Shanmuga Agency</h3>
                <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
                <ul class="fh5co-footer-links">
                    <li><a href="/products">Products</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
                <ul class="fh5co-footer-links">
                    <li><a href="/services">Services</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
                <ul class="fh5co-footer-links">
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
                <ul class="fh5co-footer-links">
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>

        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block">&copy; 2021 www.shanmugaagency.com. All Rights Reserved.</small> 
                    <!-- Designed By. Need to add only when required-->
                    <!-- <small class="block">Designed by <a href="" target="_blank"></a>: <a href="" target="_blank"></a> &amp; <a href="" target="_blank"></a></small> -->
                </p>
                <p>
                    <ul class="fh5co-social-icons">
                        <li><a href="https://twitter.com/AgencyShanmuga" target="_blank"><i class="icon-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/Shanmuga-Agency-103565978349730" target="_blank"><i class="icon-facebook"></i></a></li>
                        <!--  Add When required
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        -->
                    </ul>
                </p>
            </div>
        </div>

    </div>
</footer>