<div class="item">
    <div class="testimony-slide active text-center">
        <figure>
            <img src="images/person1.jpg" alt="user">
        </figure>
        <span><%= client.name %>, via <a href="#" class="twitter">Twitter</a></span>
        <blockquote>
            <p>&ldquo;<%= client.message %>.&rdquo;</p>
        </blockquote>
    </div>
</div>