<div class="col-md-4 text-center animate-box">
    <div class="product">
        <div class="product-grid" style="background-image:url(images/product-1.jpg);">
            <div class="inner">
                <p>
                    <!-- Add when Required
                        <a href="single.html" class="icon"><i class="icon-shopping-cart"></i></a>
                    -->
                    <a href="products/<%= product.productName%>" class="icon"><i class="icon-eye"></i></a>
                </p>
            </div>
        </div>
        <div class="desc">
            <h3><a href="products/<%= product.productName%>"><%= product.displayName%></a></h3>
            <% if(product.price) {%>
                <span class="price"><%= product.price %></span>
            <% } %>
        </div>
    </div>
</div>