<div class="col-md-4 col-sm-4 text-center">
    <div class="feature-center animate-box" data-animate-effect="fadeIn">
        <span class="icon">
            <i class="icon-wallet"></i>
        </span>
        <h3><%= service.name %></h3>
        <p><%= service.message %></p>
        <!--
            <p><a href="#" class="btn btn-primary btn-outline">Learn More</a></p>
        -->
    </div>
</div>